@media (max-width: 768px) {

      
    
.container {
    width: 100%;
    max-width: 768px;
    margin: 0 auto;
    border: red 1px solid;
}

.partners_tablet {
    display: flex;
    justify-content: center;
}


}