html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,  
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
dl,
dt,
dd,
ol,
ul,
li,
button,
fieldset,
form,
input,
label,
legend,
textarea,
select,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
a,
b,
i,
u,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
	font-size: 100%;
	font-style: normal;
	font-weight: normal;
	line-height: inherit;
	vertical-align: baseline;
	background: none;
	white-space: normal;
}
* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	outline: none;
	margin: 0;
	padding: 0;
	font-family: 'OpenSans-Regular';
	color: #1C1C1C;
	text-decoration: none;
}
form {
	height: inherit;
}
iframe {
	width: 100%;
}

@font-face {
    font-family: 'Droid Serif';
    src: url('../fonts/DroidSerif-Italic.woff2') format('woff2'),
        url('../fonts/DroidSerif-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto Slab';
    src: url('../fonts/RobotoSlab-Regular.woff2') format('woff2'),
        url('../fonts/RobotoSlab-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Oleo Script_r';
    src: url('../fonts/OleoScript-Regular.woff2') format('woff2'),
        url('../fonts/OleoScript-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Oleo Script_b';
    src: url('../fonts/OleoScript-Bold.woff2') format('woff2'),
        url('../fonts/OleoScript-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}



@font-face {
    font-family: 'Montserrat-bold';
    src: url('../fonts/Montserrat-Bold.eot');
    src: url('../fonts/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat-Bold.woff2') format('woff2'),
        url('../fonts/Montserrat-Bold.woff') format('woff'),
        url('../fonts/Montserrat-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat-regular';
    src: url('../fonts/Montserrat-Regular.woff2') format('woff2'),
        url('../fonts/Montserrat-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.container {
    width: 100%;
    max-width: 920px;
    margin: 0 auto;
    /* border: red 1px solid; */
}


.header {
    position: absolute;
    z-index: 2;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
}

.header_inner {
    display: flex;
    justify-content: space-between;
    margin-top: 22px;
}


.logo {
    font-family: 'Montserrat-bold';
    font-size: 20px;
    font-weight: 700;
    color: white;
}

.nav_text {
    font-family: 'Montserrat-bold';
    font-size: 14px;
    font-weight: 700;
    color: white;

    margin-right: 40px;

    
}


 .nav_text {
    border: solid 1 px white;
    border-radius: 30px;
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100%;
    height: 100vh;
    background: url("../img/Vector Smart Object.png") center no-repeat;
    /* -webkit-background-size: cover; */
    background-size: cover;
}

.intro_text {
    width: 100%;
    max-width: 504px;
    text-transform: uppercase;
    margin: 0 auto;
}

.intro_title {
    font-family: 'Montserrat-bold';
    font-size: 52px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.sub_title {
    font-size: 24px;
    text-align: center;
    margin-top: 40px;
}

.intro_sub {
    font-family: 'Montserrat-bold';
    font-size: 10px;
    margin: 0 auto;
    margin-top: 40px;
    text-align: center;
}


.intro_hov:hover {
    width: 100%;
    max-width: 226px;
    border: 5px red solid;
    border-radius: 20px;
    background: red;
}




.title {
    font-family: 'Montserrat-bold';
    color: black;
    font-weight: 700;
    text-align: center;
    margin-top: 75px;
    margin-bottom: 35px;
    font-size: 22px;
}

.partners {
    display: flex;
    justify-content: space-between;
}


.partners_blok {
    width: 100%;
    max-width: 225px;
    text-align: center;
}


.partners_icon {
    text-align: center;
    position: relative;
    width: 100%;
    max-width: 123px;
    cursor: pointer;
    margin: 0 auto;
}

.partners_soc {
    position: absolute;
    top: 70%;
    right: 0%;
   opacity: 0;
   transition: 0.5s;
}

.partners_icon:hover .partners_soc {
 opacity: 1;
}

.partners_name {
    font-family: 'Montserrat-bold';
    font-size: 14px;
    font-weight: 700;
    color: black;
    margin-top: 20px;
    margin-bottom: 14px;
}

.partners_info {
    font-size: 14px;
    font-weight: 500;
    color: gray;
    width: 100%;
    max-width: 217px;
    text-align: -webkit-center;
}

.oather_bord {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 68px;
    margin-bottom: 86px;
}


.oather_hov {
    margin-top: 4%;
}

.other {
  

    width: 100%;
    max-width: 190px;
    border: red solid 2px;
    border-radius: 30px;
    height: 36px;
    
}



